.navigation {
  background: #030303;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 20;
}

.navigation__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  flex: 0 1 75%;

  display: flex;
  justify-content: space-around;
}

.navigation__item {
  float: left;
}

.navigation__link {
  display: block;
  text-align: center;
  text-decoration: none;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  line-height: 15px;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 8px;
  margin-right: 10px;
  color: #fff;
}

.logo {
  background: #fff;

  flex: 0 0 25%;
  display: flex;
  justify-content: center;
}

.logo__image {
  height: 70px;
  margin: 6px 0px;
}

.mobileNav {
  display: none;
}

@media only screen and (max-width: 950px) {
  .navigation {
    background: #000000;
    justify-content: space-between;
    padding: 10px 20px;
  }

  .navigation__list {
    display: none;
  }

  .logo {
    background: #030303;
  }

  .logo__image {
    height: 50px;
    margin: 0px;
  }

  .logoText {
    font-size: 35px;
    color: #fff;
    background: #030303;
    padding: 0px 20px;

    top: 0;
    right: 0;
  }

  .navigation__button {
    cursor: pointer;
  }

  .navigation__button__line {
    width: 35px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #f5901d;
  }

  .navigation__button__line:nth-child(2) {
    width: 20px;
    margin-left: 15px;
  }

  .navigation__button__line:nth-child(3) {
    width: 20px;
  }

  .mobileNav {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    background-color: #fff;

    display: flex;
    justify-content: center;
  }

  .mobileNav__list {
    margin-top: 150px;
    list-style-type: none;
  }

  .mobileNav__link {
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    line-height: 30px;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 8px;
    margin-right: 10px;
    color: #000000;
  }

  .mobileLogoText {
    font-family: Valencia-Serial-Heavy;
    font-size: 40px;
    line-height: 33px;
    position: fixed;
    top: 0;
    left: 5px;
  }

  .mobileLogoText__image {
    height: 30px;
    margin-left: 15px;
  }
}
