@font-face {
  font-family: "Bebas";
  src: url("../fonts/BEBAS.eot"); /* IE9 Compat Modes */
  src: local("Bebas"), local("Bebas"),
    url("../fonts/BEBAS.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/BEBAS.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/BEBAS.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/BEBAS.ttf") format("truetype"); /* Safari, Android, iOS */
}


@font-face {
  font-family: "Valencia-Serial-Heavy";
  src: local("Valencia-Serial-Heavy"), local("Valencia-Serial-Heavy"),
   /* Modern Browsers */ url("../fonts/Valencia-Serial-Heavy-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
}