@import url("https://fonts.googleapis.com/css?family=Quicksand");

.container {
  position: relative;
  display: block;
  background-color: transparent;
}
.tabWrapper {
  float: right;
  clear: right;
}
.tab {
  display: block;
  padding: 10px;
  background: #ffffff;

  text-decoration: none;
  width: 30px;
  height: 45px;

  position: relative;
  overflow: hidden;
  transition: all 0.4s ease;
}
.tab:hover {
  width: 120px;
}
.tab:hover .iconName {
  visibility: visible;
}

.iconName {
  background: #ffffff;
  color: black;
  font-family: "Quicksand", sans-serif;
  font-size: 1em;
  line-height: 1.6;
  font-weight: 600;
  right: 0;
  position: absolute;
  visibility: hidden;
  transition: visible 100ms;
  padding: 0 20px 0 20px;
}
.icon {
  position: absolute;
  left: 5px;
  top: 10px;
}
