.carousel-control .glyphicon-chevron-right,.glyphicon-chevron-left, .carousel-control .icon-next{
color:#686083
}

 a.carousel-control.left{
  background-image: none;
}
a.carousel-control.right{
 background-image: none;
}

#root > div > div:nth-child(2) > div.container > div > ol > li{
  border:1px solid #9287B8;
}
#root > div > div:nth-child(2) > div.container > div > ol > li.active{
  background-color: #686083;
  border:8px solid #686083;
}

#root > div > div:nth-child(2) > div:nth-child(3) > h1 > a{
  text-decoration: none;
  color:#333;
}

#root > div > div:nth-child(2) > div:nth-child(3) > h1 >  a:hover{
  text-decoration: none;
  color:#666;
}


.button1{
  height: 43px;
  width: 15vh;
  color:white;
  font-weight:bold;
  margin-bottom:20px;
  border:none;
  float: right;
  background-color: #A195CD;
  boxShadow: 10px 2px 4px pink;

}
.button1:focus{
  outline:0;
}
.button1:hover{

  background-color: #7768AE;
}
