.button{
  height: 43px;
  width: 199px;
  color:white;
  font-weight:bold;
  margin-bottom:20px;
  border:none;
  
  background-color: #A195CD;
}
.button:focus{
  outline:0;
}
.button:hover{
  height: 43px;
  width: 199px;
  color:black;
  font-weight:bold;
  margin-bottom:20px;

  background-color: #ffffff;
}
