.container {
  display: grid;
  grid-template-areas:
    'image1 image2 image3 image4 image5'
    'image1 image6 image7 image4 image8'
    'image9 image10 image11 image12 image13'
    'image9 image14 image14 image15 image13';
  grid-gap: 40px;
  background-color: #ffffff;
  padding: 10px;
  height:800px;
}
.item1 { grid-area: image1; }
.item2 { grid-area: image2; }
.item3 { grid-area: image3; }
.item4 { grid-area: image4; }
.item5 { grid-area: image5; }
.item6 { grid-area: image6; }
.item7 { grid-area: image7; }
.item8 { grid-area: image8; }
.item9 { grid-area: image9; }
.item10 { grid-area: image10; }
.item11 { grid-area: image11; }
.item12 { grid-area: image12; }
.item13 { grid-area: image13; }
.item14 { grid-area: image14; }
.item15 { grid-area: image15; }
.container > div {
  background-color: #000000;
  color:#ffffff;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
box-shadow: 0px 0px 10px 7px #cccccc;
}
.eyespyHeader {
  height: 66px;
  width: 225px;
  color: #000000;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom:60px;
  font-family: Bebas;
  font-size: 50px;
  letter-spacing: 1.25px;
  line-height: 66px;
}
